In [90]:
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib.pyplot as plt

In [91]:
#import dataset
df = pd.read_csv('ManheimSales.csv')

In [92]:
#evalutate head of dataset, notice some nan values
df.head()

,Year,Make,Model,Subseries,Color,Drs,Cyl,Fuel,Trans,4x4,EW,Radio,Top,Int,Odometer,Price
0,2006,TOYOTA,AVALON,LIMITED,SILVER,4,6.0,GAS,NaN,4X2,NaN,NaN,NaN,NaN,"256,019","$2,000"
1,2005,TOYOTA,AVALON,TOURING,GRAY,4,6.0,GAS,A,4X2,A,B,SR,E,"250,610","$1,700"
2,2002,TOYOTA,CAMRY,LE,BLUE,4,4.0,GAS,A,4X2,NaN,NaN,NaN,NaN,"192,130","$1,300"
3,2021,TOYOTA,CAMRY FWD 4C,SE,BLUE,4,4.0,GAS,A,4X2,A,AM/FM,HT,E,"10,040","$25,750"
4,2007,TOYOTA,CAMRY 4C,NaN,GRAY,4,4.0,H,A,4X2,A,CD,SR,L,"168,481","$3,100"

In [93]:
#evalute rear of dataset, some nan values are viewed as well.  Should determine their importance before modeling
df.tail()

,Year,Make,Model,Subseries,Color,Drs,Cyl,Fuel,Trans,4x4,EW,Radio,Top,Int,Odometer,Price
926,2013,ACURA,TL FWD V6,TECH,WHITE,4,6.0,GAS,A,4X2,A,CD,SR,L,"91,220","$11,600"
927,2019,ACURA,TLX FWD V6,NaN,BLACK,4,6.0,GAS,A,4X2,A,CD,SR,L,"22,454","$27,500"
928,2019,ACURA,TLX FWD 4C,NaN,BLACK,4,4.0,GAS,A,4X2,A,CD,SR,L,"31,844","$25,000"
929,2019,ACURA,TLX FWD 4C,NaN,BLACK,4,4.0,GAS,A,4X2,A,CD,SR,L,"25,021","$28,100"
930,2009,ACURA,TSX FWD,TECH PKG,BLACK,4,4.0,GAS,A,4X2,A,CD,SR,L,"133,060","$7,900"

In [94]:
#view each columns type, most are objects so these must be converted to properly working column types.
df.dtypes

Year           int64
Make          object
Model         object
Subseries     object
Color         object
Drs           object
Cyl          float64
Fuel          object
Trans         object
4x4           object
EW            object
Radio         object
Top           object
Int           object
Odometer      object
Price         object
dtype: object

In [95]:
#using convert dtypes I am able to change the coulmn type to something that is usable.
df = df.convert_dtypes()

In [96]:
#view the new coulmn types
df.dtypes

Year          Int64
Make         string
Model        string
Subseries    string
Color        string
Drs          string
Cyl           Int64
Fuel         string
Trans        string
4x4          string
EW           string
Radio        string
Top          string
Int          string
Odometer     string
Price        string
dtype: object

In [97]:
df.count()

Year         931
Make         931
Model        931
Subseries    827
Color        931
Drs          931
Cyl          930
Fuel         930
Trans        855
4x4          911
EW           761
Radio        799
Top          838
Int          811
Odometer     931
Price        931
dtype: int64

In [98]:
#remove the commas and dollar signs in Price and Odometer and convert to integer columns
df['Price'] = df['Price'].str.replace(',', '')
df['Price'] = df['Price'].str.replace('$', '')
df['Odometer'] = df['Odometer'].str.replace(',','')

/var/folders/hw/h7tdln6x41xgmb59zm9zt7wh0000gn/T/ipykernel_9706/2385432838.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Price'] = df['Price'].str.replace('$', '')

In [99]:
df.head()

,Year,Make,Model,Subseries,Color,Drs,Cyl,Fuel,Trans,4x4,EW,Radio,Top,Int,Odometer,Price
0,2006,TOYOTA,AVALON,LIMITED,SILVER,4,6,GAS,<NA>,4X2,<NA>,<NA>,<NA>,<NA>,256019,2000
1,2005,TOYOTA,AVALON,TOURING,GRAY,4,6,GAS,A,4X2,A,B,SR,E,250610,1700
2,2002,TOYOTA,CAMRY,LE,BLUE,4,4,GAS,A,4X2,<NA>,<NA>,<NA>,<NA>,192130,1300
3,2021,TOYOTA,CAMRY FWD 4C,SE,BLUE,4,4,GAS,A,4X2,A,AM/FM,HT,E,10040,25750
4,2007,TOYOTA,CAMRY 4C,<NA>,GRAY,4,4,H,A,4X2,A,CD,SR,L,168481,3100

In [100]:
df.isnull().sum()

Year           0
Make           0
Model          0
Subseries    104
Color          0
Drs            0
Cyl            1
Fuel           1
Trans         76
4x4           20
EW           170
Radio        132
Top           93
Int          120
Odometer       0
Price          0
dtype: int64

In [101]:
df["Price"] = pd.to_numeric(df['Price'])
df['Odometer'] = pd.to_numeric(df['Odometer'])

In [102]:
df.dtypes

Year          Int64
Make         string
Model        string
Subseries    string
Color        string
Drs          string
Cyl           Int64
Fuel         string
Trans        string
4x4          string
EW           string
Radio        string
Top          string
Int          string
Odometer      int64
Price         int64
dtype: object

In [103]:
#create dataset of just nissan vehicle sales
df_nissans = df[df['Make'] == 'NISSAN']

In [104]:
df_nissans.head()

,Year,Make,Model,Subseries,Color,Drs,Cyl,Fuel,Trans,4x4,EW,Radio,Top,Int,Odometer,Price
214,2011,NISSAN,ALTIMA,2.5 S,WHITE,4,4,GAS,<NA>,4X2,<NA>,<NA>,<NA>,<NA>,172387,2100
215,2008,NISSAN,ALTIMA,2.5 SL,BLACK,4,4,GAS,<NA>,4X2,<NA>,<NA>,SR,<NA>,91655,3599
216,2019,NISSAN,ALTIMA AWD 4C,2.5 SL,WHITE,4,4,GAS,A,AWD,A,AM/FM,SR,L,27918,28400
217,2019,NISSAN,ALTIMA AWD 4C,2.5 SL,SILVER,4,4,GAS,A,AWD,A,AM/FM,SR,L,11181,28400
218,2020,NISSAN,ALTIMA AWD 4C,2.5 SR,BLUE,4,4,GAS,A,AWD,A,AM/FM,HT,L,32177,23400

In [105]:
df_nissans.count()

Year         223
Make         223
Model        223
Subseries    219
Color        223
Drs          223
Cyl          223
Fuel         223
Trans        208
4x4          217
EW           188
Radio        190
Top          205
Int          198
Odometer     223
Price        223
dtype: int64

In [106]:
df_nissans.isnull().sum()

Year          0
Make          0
Model         0
Subseries     4
Color         0
Drs           0
Cyl           0
Fuel          0
Trans        15
4x4           6
EW           35
Radio        33
Top          18
Int          25
Odometer      0
Price         0
dtype: int64

In [107]:
df_nissans.mean()

/var/folders/hw/h7tdln6x41xgmb59zm9zt7wh0000gn/T/ipykernel_9706/1651287109.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_nissans.mean()

Year         2014.820628
Cyl             4.726457
Odometer    84089.174888
Price       13581.381166
dtype: float64

In [108]:
df_nissans.max()

Year               2020
Make             NISSAN
Model        XTERRA 4X4
Subseries            SV
Color             WHITE
Drs                   X
Cyl                   8
Fuel                GAS
Trans                 O
4x4                 AWD
EW                    T
Radio                 N
Top                  SR
Int                   N
Odometer         293074
Price             30900
dtype: object

In [109]:
df_nissans.min()

Year           2001
Make         NISSAN
Model        ALTIMA
Subseries     1.8 S
Color         BLACK
Drs               2
Cyl               4
Fuel              C
Trans             A
4x4             4X2
EW                A
Radio         AM/FM
Top              CV
Int               B
Odometer       3921
Price           500
dtype: object

In [110]:
df_nissans.median()

/var/folders/hw/h7tdln6x41xgmb59zm9zt7wh0000gn/T/ipykernel_9706/1034012224.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_nissans.median()

Year         2016.0
Cyl             4.0
Odometer    75332.0
Price       12400.0
dtype: float64

In [111]:
#create dataframe of nissans purchased for less than $5001, the sweet spot we are working with
df_nissans_range = df_nissans[df_nissans['Price'] < 5001]

In [112]:
df_nissans_range

,Year,Make,Model,Subseries,Color,Drs,Cyl,Fuel,Trans,4x4,EW,Radio,Top,Int,Odometer,Price
214,2011,NISSAN,ALTIMA,2.5 S,WHITE,4,4,GAS,<NA>,4X2,<NA>,<NA>,<NA>,<NA>,172387,2100
215,2008,NISSAN,ALTIMA,2.5 SL,BLACK,4,4,GAS,<NA>,4X2,<NA>,<NA>,SR,<NA>,91655,3599
221,2004,NISSAN,ALTIMA 4C,S,SILVER,4,4,GAS,A,4X2,A,CD,HT,C,144137,2200
222,2006,NISSAN,ALTIMA 4C,2.5 S,GREEN,4,4,GAS,A,4X2,<NA>,CD,HT,C,110946,3000
233,2006,NISSAN,ARMADA 4X4,LE,BLUE,S,8,GAS,O,4X4,A,CD,SR,L,169592,3150
239,2012,NISSAN,MAXIMA,3.5 S,BLACK,4,6,GAS,A,4X2,<NA>,<NA>,SR,<NA>,152523,4000
248,2011,NISSAN,MURANO AWD,SL,WHITE,S,6,GAS,A,AWD,A,CD,MR,L,151355,4400
257,2006,NISSAN,PATHFIND 4X4,SE,BLACK,S,6,GAS,A,4X4,A,CD,SR,C,124923,3700
263,2008,NISSAN,ROGUE AWD,<NA>,BLACK,S,4,GAS,<NA>,AWD,<NA>,<NA>,<NA>,<NA>,173659,2900
264,2009,NISSAN,ROGUE AWD,S,RED,4,4,GAS,A,AWD,A,CD,HT,C,128079,4300
296,2006,NISSAN,SENTRA,1.8 S,SILVER,4,4,GAS,A,4X2,<NA>,<NA>,<NA>,<NA>,166120,2400
297,2012,NISSAN,SENTRA,2.0 SR,WHITE,4,4,GAS,A,4X2,A,<NA>,SR,C,95772,3500
298,2009,NISSAN,SENTRA,2.0 SR FE+,BLACK,4,4,GAS,<NA>,4X2,<NA>,<NA>,<NA>,<NA>,215809,1400
303,2016,NISSAN,VERSA NOTE,SV,BLACK,5,4,GAS,A,4X2,A,CD,HT,C,119690,2900
304,2008,NISSAN,XTERRA 4X4,S,BLACK,4,6,GAS,A,4X4,A,CD,HT,C,223212,2100
305,2009,NISSAN,ALTIMA,2.5 S,WHITE,4,4,GAS,<NA>,4X2,<NA>,<NA>,<NA>,<NA>,147026,2500
306,2011,NISSAN,ALTIMA,2.5 S,WHITE,4,4,GAS,A,4X2,<NA>,<NA>,<NA>,<NA>,171686,2000
308,2012,NISSAN,ALTIMA 4C,2.5 S,BLACK,4,4,GAS,A,4X2,A,CD,SR,L,161672,4000
322,2009,NISSAN,MURANO AWD,S,GRAY,4,6,GAS,A,AWD,A,CD,HT,C,152158,3300
325,2011,NISSAN,MURANO FWD,SL,BROWN,S,6,GAS,A,4X2,A,CD,MR,L,151799,3400
327,2009,NISSAN,ROGUE,SL,GRAY,4,4,GAS,<NA>,AWD,<NA>,<NA>,<NA>,<NA>,145445,3300
328,2010,NISSAN,ROGUE AWD,S,BLACK,4,4,GAS,A,AWD,A,CD,HT,C,117189,1800
332,2011,NISSAN,ROGUE AWD,SV,SILVER,S,4,GAS,A,AWD,A,CD,HT,C,152104,1900
347,2012,NISSAN,VERSA,SV,WHITE,4,4,GAS,A,4X2,A,CD,HT,C,122124,2200
348,2006,NISSAN,XTERRA,SE,GREY,S,6,GAS,A,4X4,<NA>,CD,HT,C,154849,3400
350,2005,NISSAN,ALTIMA V6,3.5 SE,SILVER,4,6,GAS,A,4X2,A,CD,HT,C,293074,500
354,2015,NISSAN,ALTIMA 4C,2.5 S,WHITE,4,4,GAS,A,4X2,A,CD,HT,C,129687,4500
372,2012,NISSAN,PATHFIND 4X4 V6,S,BLACK,S,6,GAS,A,4X4,A,CD,HT,C,186826,3400
374,2009,NISSAN,ROGUE AWD,S,BLACK,4,4,GAS,A,AWD,A,CD,HT,C,164765,2600
375,2013,NISSAN,ROGUE AWD,S,GRAY,S,4,GAS,A,AWD,A,CD,HT,C,146014,4900
379,2011,NISSAN,ROGUE AWD,SV,GRAY,S,4,GAS,A,AWD,A,CD,SR,C,128403,4300
380,2013,NISSAN,ROGUE AWD,SV,BLACK,S,4,GAS,A,AWD,A,CD,HT,C,131594,4100
382,2012,NISSAN,ROGUE FWD,S,SILVER,4,4,GAS,A,4X2,A,CD,HT,C,126740,1300
389,2007,NISSAN,XTERRA 4X4,S,BLACK,S,6,GAS,A,4X4,A,CD,HT,C,153834,2700
390,2008,NISSAN,ALTIMA,2.5 S,WHITE,4,4,GAS,<NA>,4X2,<NA>,CD,HT,C,201848,2000
395,2006,NISSAN,ALTIMA 4C,<NA>,TAN,4,4,GAS,<NA>,4X2,<NA>,<NA>,<NA>,<NA>,77637,2300
399,2016,NISSAN,ALTIMA 4C,2.5 S,GRAY,4,4,GAS,A,4X2,A,CD,HT,C,172621,4100
413,2008,NISSAN,ROGUE,SL,GRAY,S,4,GAS,<NA>,AWD,<NA>,<NA>,<NA>,<NA>,109072,4000
414,2010,NISSAN,ROGUE,SL,BLUE,4,4,GAS,<NA>,AWD,<NA>,<NA>,<NA>,<NA>,146157,4800
426,2004,NISSAN,SENTRA,S,BLUE,4,4,GAS,A,4X2,<NA>,<NA>,<NA>,<NA>,65250,3400
433,2008,NISSAN,SENTRA,2,BLACK,4,4,GAS,A,4X2,<NA>,CD,HT,C,147053,1800
434,2010,NISSAN,SENTRA,2.0 SR,BLACK,4,4,GAS,A,4X2,A,CD,HT,C,126875,3800
435,2012,NISSAN,VERSA,SV,BLACK,4,4,GAS,A,4X2,A,CD,SR,C,125183,700

In [113]:
df_nissans_range.dtypes

Year          Int64
Make         string
Model        string
Subseries    string
Color        string
Drs          string
Cyl           Int64
Fuel         string
Trans        string
4x4          string
EW           string
Radio        string
Top          string
Int          string
Odometer      int64
Price         int64
dtype: object

In [114]:
df_niss_max_alt = df_nissans_range[df_nissans_range['Model'] == ('ALTIMA' or 'MAXIMA')]

In [115]:
df_niss_max_alt

,Year,Make,Model,Subseries,Color,Drs,Cyl,Fuel,Trans,4x4,EW,Radio,Top,Int,Odometer,Price
214,2011,NISSAN,ALTIMA,2.5 S,WHITE,4,4,GAS,<NA>,4X2,<NA>,<NA>,<NA>,<NA>,172387,2100
215,2008,NISSAN,ALTIMA,2.5 SL,BLACK,4,4,GAS,<NA>,4X2,<NA>,<NA>,SR,<NA>,91655,3599
305,2009,NISSAN,ALTIMA,2.5 S,WHITE,4,4,GAS,<NA>,4X2,<NA>,<NA>,<NA>,<NA>,147026,2500
306,2011,NISSAN,ALTIMA,2.5 S,WHITE,4,4,GAS,A,4X2,<NA>,<NA>,<NA>,<NA>,171686,2000
390,2008,NISSAN,ALTIMA,2.5 S,WHITE,4,4,GAS,<NA>,4X2,<NA>,CD,HT,C,201848,2000